<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Requires Android TV -->
    <uses-feature android:name="android.hardware.type.television" android:required="true" />
    <uses-feature android:name="android.software.leanback" android:required="true" />

</manifest>
